/* div w dive idealnie posrodku */


* {
    box-sizing: border-box;
    float:left;
    margin:0px;
    width:100%;
}

div.outer{
    background: orange;
    width:200px;
    height:200px;
    margin:10px;
}

div.inner{
    background: blue;
    width:100px;
    height:100px;
    margin:0;
}

.inner {
    transform: translate(50%, 50%);
}

.clear{
    clear:both;
}

.circle a {
    border: 1px solid cyan;
    border-radius:50px;
    height: 100px;
    width: 100px;
    color:cyan;
    margin-right: 30px;
    font-size: 50px;
    margin:30px;
    position: relative;
}

.circle a:hover {
    color: #fff;
    border: 1px solid cyan;
    background-color: cyan;
    
}

div.circle a#circle i{
    top:25%;
    left:35%;
    position: absolute;
}

/* gradient w kolorze tęczy */


div.gradient{
    height:100px;
    width:100%;
    background: -webkit-linear-gradient(left, red , yellow, green, blue,  purple);
}

/* video na 100% okna przegladarki */
.video{
    width:100vh;
}

/* ikony font awesome jako bullety w liscie "li" */
.bullets{
    width:50%;
    height:200px;
    padding: 50px;
}

/* zmiana koloru czcionki placeholder'a w formularzu */

div.form{
    width:50%;
    margin: 0 0 50px 50px;
}

::-webkit-input-placeholder {
  color: red;
}

/* zmiana koloru linku do pobierania dla plików doc i docx */

div.linki{
    height:100px;
    width:50%;
    margin: 0 0 50px 50px;
}

.linki a[href$=".doc"]{
    color:red;
}

.linki a[href$=".docx"]{
    color:green;
}

/* rozne znaczniki cytatow dla roznych jezykow */

div.cytat{
    height: 300px;
    width:50%;
    margin: 0 0 50px 50px;
}


q:before, blockquote:before{
    content: '"';    
}

q:after, blockquote:after{
    content: '"';    
}

q[lang="en"]:before, blockquote[lang="en"]:before{
    content:"*";
}
q[lang="en"]:after, blockquote[lang="en"]:after{
    content:"*";
}




